.button {
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &:focus {
        outline: none;
    }
}

#button-find {
    background-color: springgreen;
}