.widget {
    left: 15px;
    top: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    border-radius: 3px;
    padding: 15px;
    width: 250px;

    h1, h2 {
        margin: 0;
    }


    h1 {
        color: $primary;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 3px;
        margin-top: 10px;

        &:first-of-type {
            margin-top: 0px;
        }
    }

    .widget-categories {
        text-align: center;
        margin-bottom: 10px;
    }

    .widget-category {
        cursor: pointer;
        display: inline-block;

        .widget-button {
            margin: 0px 8px;
            padding: 3px;

            i {
                color: #777;
                font-size: 30px;
                padding: 3px;
                width: 30px;
                text-align: center;
            }
        }

        p {
            color: #777;
            font-size: 13px;
            text-align: center;
            margin: 0;
            margin-top: 5px;
            letter-spacing: 0.8px;
        }
    }

    .widget-category:hover {
        i, p {
            color: $active-light;
            transition: 0.2s;
        }
    }

    .widget-category.active {
        i, p {
            color: $active;
            transition: 0.2s;
        }
    }

    #widget-range {
        width: 100%;
    }

    #widget-change-location {
        width: 100%;
        text-align: center;


        &::-webkit-input-placeholder {
            color: #777;
        }

        &:active, &:focus {
            text-align: left;
        }
    }

    h2 {
        font-size: 16px;
        text-align: center;
        color: $active;
        font-weight: normal;
    }

    #widget-search {
        margin-top: 15px;
        text-align: center;

        h1 {
            border-radius: 5px;
            color: white;
            padding: 3px 5px;
            display: inline-block;
            background-color: $primary;
            transition: 0.3s;

            &:hover {
                background-color: $primary-light;
                cursor: pointer;
            }
            &:active {
                background-color: black;
            }
        }

        .widget-search-busy {
            background-color: #bbb;
            &:hover {
                background-color: #bbb;
                cursor: default;
            }
            &:active {
                background-color: #bbb;
            }
        }
    }
}



















.bar {
    top: 10vh;
    position: absolute;
    
    width: 81%;
    padding: 15px;
    background-color: white;
    left : 50%;
     transform: translate(-50%);
     box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
   
}
.panels{
    top: 30vh;
    left: 50%;
    transform: translate(-50%);
     position: absolute;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: -0.07rem;
     text-align:center;
}

#foodButton{
    width: 200px;
    height: 300px;
    background-color: #ff5252 ;
    display: inline-block;
    margin-right: 50px; 
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 10px 6px -6px #777;
    :hover{
        cursor: pointer;
        
    }
}
#thingButton{
    width: 200px;
    height: 300px;
    background-color: #ffd740 ;
    display: inline-block;
    margin-left: 50px; 
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 10px 6px -6px #777;
    :hover{
        cursor: pointer;
    }
}
form{
    margin: 0;
    padding: 0;
    width: 100%;
}
select{
    font-size: inherit;
                font-family: inherit;
                letter-spacing: -6px;
                font-weight: bold;
                border: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-overflow: '';
                transition: all 0.3s ease;
                
}
select:focus{
    outline: none;
    
}
select:hover{
      color: hotpink;
      transition: all 0.3s ease;
      cursor: pointer;
}
option{
    border-color: #d9d9d9 #ccc #b3b3b3;
                border-radius: 0px;
                border: none;
}

input{
   
                display: inline;
                font-size: inherit;
                font-family: inherit;
                white-space: nowrap;
                border-color: #d9d9d9 #ccc #b3b3b3;
                border-radius: 0px;
                border: none;
                color: black;
                width: 50%;
            }
input:hover::-webkit-input-placeholder{
    color: darkturquoise;
    transition: all 0.3s ease;
}
input:focus{
    outline: none;
}
input::-webkit-input-placeholder{
    color: black;
    transition: all 0.3s ease;
}

input:focus::-webkit-input-placeholder{
    color: #aaa;
    opacity: 0.2;
}