

#home-landing {
  min-height: 80vh;
  background-image: url('./pages/images/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home-title {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);

  h1, h3 {
    font-family: $heading-font;
    font-weight: 200;
    color: $lighter;
    margin: 0;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
    margin-top: 10px;
  }
}

#home-down {
  color: $dark;
  font-size: 25px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  animation: home-down-blinker 2s ease-out infinite;
}

@keyframes home-down-blinker {  
  50% {
    opacity: 0.1; 
  }
}

#home-welcome {
  padding-top: $vertical-gap / 2;
  padding-bottom: $vertical-gap / 4;
}

#home-split-images {
  .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }

  .row {
    margin : 0;
  }
}

#home-signature {
  padding-top: 30px;
  font-size: 32px;
  text-align: center;
}

#home-split-images-left, #home-split-images-right{
  padding: 0;
  margin: 0;
  margin-bottom: -9px;

  img {
    width: 100%;
  } 
}

#home-split-images-left-tri, #home-split-images-right-tri {
  width: 100%;
  position: relative;
  height: $vertical-gap / 2.5;
  background: $light-panel;

  &:after {
    position: absolute;
    height: $vertical-gap / 2.5;
    width: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#home-split-images-left-tri {
  &:after {
    transform: skewY(3deg);
    transform-origin: top left;
  }
}

#home-split-images-right-tri {
  &:after {
    transform-origin: top right;
    transform: skewY(-3deg);
  }
}

