@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
body, p, i, h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Spectral", "Arial", "Serif";
  font-weight: 300; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 32px; }

p {
  font-size: 22px; }

/** Helpers **/
.fancy {
  font-family: "Calligraffitti", "Arial", "Serif"; }

.center {
  text-align: center; }

a {
  text-decoration: none;
  color: #1D1D1D;
  transition: all 0.5s; }
  a:hover {
    color: #fff;
    transition: all 0.5s; }

body, html {
  margin: 0 !important; }

a {
  text-decoration: none;
  color: #1D1D1D; }

.container {
  box-sizing: border-box;
  padding: 0px 32px;
  width: 100%;
  max-width: 1000px;
  margin: auto; }

.light-section, .dark-section {
  padding: 9rem 0; }

.light-section {
  background-color: #f8f8ff; }

.dark-section {
  background-color: #D3D3D3; }

.light-bg {
  background-color: ghostwhite;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black; }

.dark-bg {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: lightgrey;
  padding-left: 5rem;
  padding-right: 5rem; }

* {
  min-height: 0;
  min-width: 0; }

.hoverable p {
  transition: all 0.5s;
  cursor: default; }
  .hoverable p:hover {
    color: #fff;
    transition: all 0.5s; }

.light-panel {
  background-color: white;
  padding: 4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .light-panel:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.example-appear {
  opacity: 0; }

.example-appear.example-appear-active {
  opacity: 1;
  transition: all 8s ease-in; }

#home-landing {
  min-height: 80vh;
  background-image: url("./pages/images/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

#home-title {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%); }
  #home-title h1, #home-title h3 {
    font-family: "Source Sans Pro", "Arial", "Serif";
    font-weight: 200;
    color: #d5d5d5;
    margin: 0; }
  #home-title h1 {
    font-size: 50px; }
  #home-title h3 {
    font-size: 25px;
    margin-top: 10px; }

#home-down {
  color: #A3A3A3;
  font-size: 25px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  animation: home-down-blinker 2s ease-out infinite; }

@keyframes home-down-blinker {
  50% {
    opacity: 0.1; } }

#home-welcome {
  padding-top: 72px;
  padding-bottom: 36px; }

#home-split-images .container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important; }

#home-split-images .row {
  margin: 0; }

#home-signature {
  padding-top: 30px;
  font-size: 32px;
  text-align: center; }

#home-split-images-left, #home-split-images-right {
  padding: 0;
  margin: 0;
  margin-bottom: -9px; }
  #home-split-images-left img, #home-split-images-right img {
    width: 100%; }

#home-split-images-left-tri, #home-split-images-right-tri {
  width: 100%;
  position: relative;
  height: 57.6px;
  background: #f8f8ff; }
  #home-split-images-left-tri:after, #home-split-images-right-tri:after {
    position: absolute;
    height: 57.6px;
    width: 100%;
    content: '';
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

#home-split-images-left-tri:after {
  transform: skewY(3deg);
  transform-origin: top left; }

#home-split-images-right-tri:after {
  transform-origin: top right;
  transform: skewY(-3deg); }

.panel {
  padding: 40px 0px; }

body {
  padding-top: 47px; }

.nav-left {
  padding-left: 2%; }
  .nav-left a {
    font: "Calligraffitti", "Arial", "Serif";
    float: left; }

.nav-right {
  padding-right: 2%; }
  .nav-right a {
    float: right;
    font-weight: 300; }

nav ul {
  background-color: #1D1D1D;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  padding: 0 0px;
  list-style-type: none;
  text-align: center;
  line-height: 48px; }

nav a {
  font-family: "Source Sans Pro", "Arial", "Serif";
  float: left;
  display: block;
  color: #A3A3A3;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s; }
  nav a:hover {
    background-color: #d5d5d5;
    color: black;
    transition: all 0.5s; }

.footer-bg {
  background-color: #1D1D1D;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem; }

.footer-bg p, .footer-bg h2, .footer-bg h3, .footer-bg h4 {
  color: #A3A3A3;
  font-family: 'Source Sans Pro'; }
  .footer-bg p i, .footer-bg h2 i, .footer-bg h3 i, .footer-bg h4 i {
    color: #A3A3A3; }

.footer-bg p {
  font-size: 22px; }

.footer-bg h3 {
  font-size: 26px; }

.footer-bg h4 {
  font-size: 16px; }
