.home{
    height:100vh;
    background-image: url('../123.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.title{
    position: absolute;
    font-size: 35px;
    padding: 200px;
    top: 50%;
    transform: translateY(-50%);
}
.content{
    padding-top: 64px;
    margin: 50px;
}