.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.container{
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.half{
    position: relative;
    box-sizing: border-box;
    float:right;
    width: 60%;
    background-color: #fff;
    

}
