body, html {
    margin: 0 !important;
    background: black;

}




.overlay {
  position: absolute;
  z-index: 1;
}



.light-bg{
  background-color: ghostwhite;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}
.dark-bg{
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: lightgrey;
  padding-left: 5rem;
  padding-right: 5rem;
}
* {
  min-height: 0;
  min-width: 0;

}

.footer-bg{
  background-color: $primary;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;

}
.footer-bg h2, h4{
  color: $darker;
  font-family: 'Source Sans Pro';

  i {
    color: $darker;
  }
}

.hoverable h2 {
  transition: all 0.5s;
  cursor: default;
  &:hover {
    color: $lightest;
    transition: all 0.5s;
  }
}

.light-panel{
  background-color: white;
  padding: 4rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.7s cubic-bezier(.25,.8,.25,1);
  &:hover{
     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
.example-appear {
  opacity: 0;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: all 8s ease-in;
}