body, html {
    margin: 0 !important;

    height: 100vh;

}




.overlay {
  position: absolute;
  z-index: 1;
}


.content {
  padding-top: 64px;
}
.light-bg{
  background-color: ghostwhite;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}
.dark-bg{
  padding-top: 10rem;
  padding-bottom: 10rem;
  
  padding-left: 5rem;
  padding-right: 5rem;
}
* {
  min-height: 0;
  min-width: 0;

}
