body, html {
    margin: 0 !important;
}




.overlay {
    position: absolute;
    z-index: 1;
}


.content {
  padding-top: 64px;
}
.light-bg{
  background-color: ghostwhite;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: black;
}
.dark-bg{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
