

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i');

$primary-font: grey;

$primary: #1D1D1D;


$primary-font: #333;

$darker: #A3A3A3;
$lighter: #ddd;
$lightest: #fff;


$primary-dark: #163464;
$primary-light: #637EA9;
$active: #1D7667;
$active-light: #59A195;

body, p, i, h1, h2, h3, h4, h5, h6 {
    color: $primary-font;


    font-family: 'Spectral', 'Arial', 'Serif'; 
    font-weight: 300;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
}

.center {
    text-align: center;

}
.sourcesans{
    font-family: 'Source Sans Pro', 'Arial', 'Serif'; 
}
.fancy {
    font-family: 'Calligraffitti', 'Arial', 'Serif';
}


