$heading-font: 'Source Sans Pro', 'Arial', 'Serif';
$body-font: 'Spectral', 'Arial', 'Serif';
$fancy-font: 'Calligraffitti', 'Arial', 'Serif';

body, p, i, h1, h2, h3, h4, h5, h6 {
    color: $primary-font;
    font-family: $body-font; 
    font-weight: 300;
}

h1 {font-size: 32px;}
h2 {font-size: 32px;}
p {font-size: 22px;}

/** Helpers **/
.fancy {font-family: $fancy-font};
.center {text-align: center;}

a{
    text-decoration: none;
    color: $primary;
    transition: all 0.5s;
  &:hover{
    color: $lightest;
    transition: all 0.5s;
  }
}

